:root {
  //colors
  --c-primary: #fff;
  --c-primary-hover: #fff;
  --c-primary-dark: #fff;
  --c-primary-dark-hover: #fff;
  --c-primary-light: #fff;
  --c-primary-light-hover: #fff;

  --c-secondary: #fff;
  --c-secondary-dark: #fff;
  --c-secondary-dark-hover: #fff;
  --c-secondary-light: #fff;
  --c-secondary-light-hover: #fff;

  --c-fade: #fff;
  --c-fade-hover: #fff;

  --c-default: #222;
  --c-default-hover: #222;

  //font sizes
  --fs-xs: 0.625rem; //10px
  --fs-s: 0.75rem; //12px
  --fs-m: 0.875rem; //14px
  --fs-default: 1rem; //16px
  --fs-l: 1.125rem; //18px
  --fs-xl: 1.25rem; //20px
  --fs-xxl: 1.375rem; //22px
  --fs-sub-title: 1.5rem; //24px
  --fs-title: 2rem; //32px
}
