.acordion {
  .acordion-item {
    margin-bottom: 1rem;
    .acordion-button {
      position: relative;
      padding: 1rem;
      width: 100%;
      background: #ffffff;
      cursor: pointer;
      color: #505050;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #f5f5f5;
      i {
        transition: all 0.5s;
      }
    }
    .acordion-body {
      padding: 0.5rem;
      background: #f5f5f5;
      display: none;
      width: fit-content;
    }
    .active {
      i {
        transform: rotate(-180deg);
      }
    }
  }
}
